# Copyright 2017 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

on early-init
    # Advertise opengles version 3.1.
    setprop ro.opengles.version 196609
    setprop ro.hardware.egl mesa
