# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Bluetooth daemon
PartOf=system-services.target
After=system-services.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/start_bluetoothd.sh
