# Copyright (c) 2019 The FydeOS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# restart ui after hdmi connected.

ACTION=="add", SUBSYSTEM=="drm", KERNEL=="renderD128", RUN+="/lib/udev/restart_ui.sh %k"
